
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
    font-family: 'Open Sans', sans-serif;
}

.container {
    background-color: #ffffff;
    height: 100vh;
}

h1 {
    border-bottom: 2px solid rgb(202, 202, 202);
    text-align: center;
    font-size: 18px;
    padding: 25px 0;
}



