
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(90deg, #e0c3fc, #8ec7fc)
}

.container {
    background-color: #ffffff;
    height: 100vh;
}

h1 {
    border-bottom: 2px solid rgb(202, 202, 202);
    text-align: center;
    font-size: 18px;
    padding: 25px 0;
}

.dflex {
    display: flex;
    justify-content: space-between;
    padding: 13px;
    width: 100%;
}

.dflex-column {
    display: flex;
    flex-direction: column;
}

.excluir-botao {
    position: absolute;
    right: 10px;
}

.entrada {
    padding: 40px;
    text-align: center;
    border: none;
}

input::placeholder {
    font-family: 'Open Sans', sans-serif;
}

.add {
    padding: 12px;
    font-family: 'Open Sans', sans-serif;
    background-color: #ba7af8;
    color: white;
    font-weight: bold;
    border: none;
}

p {
    font-weight: bold;
}

.check {
    color: rgb(202, 202, 202);
    text-decoration: line-through;
}

.botoes {
    display: none;
}
